alembic
asgiref
fastapi
strawberry-graphql[fastapi]
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy
sqlmodel
asyncpg
aiohttp[speedups]
jmespath
lxml
loguru
celery
celery-redbeat
redis
python-jose[cryptography]
passlib[bcrypt]

# dev-packages
black==23.3.0
flake8
freezegun
isort
pep8-naming
pip-tools
polyfactory
pytest
pytest-mock
pytest-asyncio
pytest-celery
pytest-cov
pytest-env
pytest-sugar
pytest-xdist
pre-commit
mypy
httpx
aiosqlite
fakeredis
