alembic
fastapi
strawberry-graphql[fastapi]
uvicorn[standard]
pydantic[email]
sqlalchemy
sqlmodel
asyncpg

# dev-packages
black==23.3.0
flake8
freezegun
isort
pep8-naming
pip-tools
polyfactory
pytest
pytest-mock
pytest-asyncio
pytest-cov
pytest-env
pytest-sugar
pytest-xdist